* {
  font-family: 'Poppins', sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
    background: #00040F !important;
    color: white !important;
    font-family: 'popine';
}
.h5, h4, h3, h2, h1 {
    margin: 0px !important;
}
p {
    margin: 0px !important;
}

main.main {}

.nav-item {
    color: white;
}

img.hero2-img {
    right: 0px;
    position: absolute;
    top: 100px;
}

h1.top-head {
    font-size: 60px;
    line-height: 75px;
}

.top-line {
    text-align: center;
    padding: 5px 0px 2px 0px;
    border-radius: 5px;
    width: 56%;
    background-color: #232225;
    display: inline-block;
}

p.head-line {
    padding: 30px 0px 30px 0px;
    font-size: 16px;
    line-height: 31px;
    font-weight: 100;
    color: #FFFFFFB2;
}

.hero-section {
    padding-top: 120px;
}

.round-get {
    position: absolute;
    left: 600px;
    top: 250px;
}

.shade {
    position: absolute;
    left: 0px;
    z-index: -100;
}

.hero1-img {
    right: 1px;
    position: absolute;
    top: -22px;
    width: 60%;
    z-index: -100;
}

.counter-sec {
    margin-top: 200px;
}

.count-tex {
    font-size: 20px;
    color: aqua;
}

h2.count {
    font-size: 50px;
}

.about-sec {
    margin-top: 150px;
}

.sec-heading {
    font-size: 55px;
    /* padding-bottom: 32px; */
}

button.btn.btn-info {
    /* margin-top: 32px; */
}

.rewards-ico {
    width: 20%;
    text-align: center;
}

.rewards {
    width: 80%;
}

.rewards-ico i.bi.bi-star-fill {
    font-size: 25px;
    background: #09977c36;
    padding: 8px 12px;
    border-radius: 40px;
    color: #00F6FF;
}
.rewards-ico i.bi-shield-lock-fill {
    font-size: 25px;
    background: #09977c36;
    padding: 8px 12px;
    border-radius: 40px;
    color: #00F6FF;
}
.rewards-ico i.bi.bi-cursor-fill {
    font-size: 25px;
    background: #09977c36;
    padding: 8px 12px;
    border-radius: 40px;
    color: #00F6FF;
}

.rewards p {
    margin: 0;
    color: #ffffffa1;
    font-size: 18px;
    font-weight: 100;
}

.box {
    padding: 16px;
    border-radius: 20px;
}

.box:hover {
    background: #42475B1A;
    background: linear-gradient(180deg, rgba(66, 71, 91, 1) 4%, rgba(20, 16, 29, 1) 89%);
}

.box1 {
    padding: 16px;
    border-radius: 20px;
}

.box1 {
    background: #42475B1A;
    background: linear-gradient(180deg, rgba(66, 71, 91, 1) 4%, rgba(20, 16, 29, 1) 89%);
}

button.btn.btn-info {
    font-size: 19px;
    font-weight: 600;
    background: #DEF9FA;
    background: linear-gradient(180deg, rgba(222, 249, 250, 1) 4%, rgba(51, 187, 207, 1) 89%);
    padding: 12px 20px;
}
.app-store {
    margin-top: 40px;
}
.paypal-shade {
    position: absolute;
    left: 0px;
    z-index: -100;
    top: 800px;
}
.paypal-sec {
    margin-top: 100px;
}
.people-say {
    margin-top: 100px;
}

.box-color-card {
    height: 450px;
    padding: 16px;
    border-radius: 20px;
    background: #42475B1A;
    background: linear-gradient(180deg, rgba(66, 71, 91, 1) 4%, rgba(20, 16, 29, 1) 89%);
}
.box-color-card p {
    font-size: 18px;
}
.box-card:hover {
    height: 450px;
    padding: 16px;
    border-radius: 20px;
    background: #42475B1A;
    background: linear-gradient(180deg, rgba(66, 71, 91, 1) 4%, rgba(20, 16, 29, 1) 89%);
}
.box-card {
    height: 450px;
    padding: 16px;
    border-radius: 20px;
}
.box-card p {
    font-size: 18px;
}
.img-icon {
    width: 20%;
}

.people-say {
    position: relative;
}
.right-shade {
    position: absolute;
    right: 0;
    top: -410px;
    z-index: -1;
}
.services-sec {
    margin-top: 100px;
    padding: 34px;
    border-radius: 20px;
    background: #6D6D6D;
background: linear-gradient(190deg, rgba(109, 109, 109, 1) 0%, rgba(55, 55, 62, 1) 34%, rgba(17, 16, 29, 1) 81%);
}
ul {
    padding-top: 20px;
    padding: 0px !important;
}
li {
    list-style: none !important;
}
li {
    font-weight: 100;
    font-size: 16px;
    line-height: 35px;
    list-style: none !important;
}
ul.foot-link {
    margin-top: 30px;
}
i.bi {
    font-size: 28px;
}


@media screen and (max-width: 767px) {
  /* Styles applied when the screen width is 767px or less */
  body {
    font-size: 14px;
  }
  .main-navigation ul {
    flex-direction: column;
  }
  .hero-image {
    height: 200px;
  }
  .round-get {
    position: static;
    left: 600px;
    top: 250px;
}
img.hero2-img {
    width: 300px;
}
.hero1-img {
    right: 0px;
    position: absolute;
    top: 49px;
    width: 100%;
    z-index: -100;
}
h1.top-head {
    font-size: 38px;
    line-height: 45px;
}
.hero-section {
    padding-top: 198px;
}
p.head-line {
    padding: 30px 0px 30px 0px;
    font-size: 14px;
    line-height: 27px;
    font-weight: 100;
    color: #FFFFFFB2;
}
    .hero-section {
        padding-top: 314px;
    }
.round-get img {
    width: 106px !important;
}
.shade {
    top: 391px;
    position: absolute;
    left: 0px;
    z-index: -100;
}
.sec-heading {
    font-size: 30px;
    line-height: 45px;
}
.counter-sec {
    margin-top: 100px;
}
.left-box {
    margin-bottom: 80px;
}
.client-log {
    padding-bottom: 62px;
}
.col-12.col-md-4.col-lg-4.text-center {
    padding: 0px 87px;
}
i.bi {
    font-size: 18px;
}
}

/* animation css */
.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
